<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {border: 1px solid black; text-align: center; word-wrap: break-word; width: 600px}
h2 {text-align: center; background-color: green; border: 2px solid black; color: white}
btn-primary {display: inline-block; margin: 0 20px; text-align: center;}
</style>
</head>
<body>

<h2>Favorite Items</h2>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Combo</th>
      <th>Rating (out of 10)</th>
      <th>Options</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.restaurant %></td>
        <td><%= project.foodCombo %></td>
        <td><%= project.rating %></td>
        <td>
        <% if user_signed_in? %>
          <%= button_to "Show Item", project, :id => "open-contacts-dialog-btn",
            :class => "btn btn-primary", :method => :get %>
          <p></p>
          <%= button_to "Edit Item", edit_project_path(project), :id => "open-contacts-dialog-btn",
            :class => "btn btn-primary", :method => :get %>
          <p></p>
          <%= button_to "Delete Item", project, :id => "open-contacts-dialog-btn",
            :class => "btn btn-primary", :method => :delete, data: { confirm: 'Are you sure?' } %></td>
       <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= button_to "New Project", new_project_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-primary", :method => :get %>
<% end %>
</body>
